<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/Plugins/Bootstrap/css/bootstrap.min.css" />


    <!-- Font Awesome -->
    <link href="/Fonts/Font-Awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="/Fonts/Ionicons/css/ionicons.min.css" rel="stylesheet" />

    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/AdminLTE.min.css" />
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="/Content/skins/skin-purple.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

        <script src="/Scripts/html5shiv.min.js"></script>
        <script src="/Scripts/respond.min.js"></script>
      <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="/Upload/favicon.ico" />

    <!-- Alertify -->
    <link href="/Plugins/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="/Plugins/alertifyjs/css/themes/bootstrap.min.css" rel="stylesheet" />

    <!-- jQuery 2.2.3 -->
    <script src="/Plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
<body class="hold-transition skin-purple sidebar-mini  fixed">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">
                    <img src="../Images/logo_login.png" style="height:30px;width:30px;border-width:0px;" />
                </span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <img src="../Images/logo_login.png" style="height:30px;width:30px;border-width:0px;" />
                    MVC作業
                </span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @HttpContext.Current.User.Identity.Name
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <img class="user-circle" src="../Images/logo_login.png" style="border-width:0px;" />
                                        <p>
                                            @HttpContext.Current.User.Identity.Name
                                        </p>
                                    </li>
                                    <li class="user-footer">
                                        <div class="pull-right">
                                            @Html.ActionLink("Sign out", "Logout", "Home", new { @class = "btn btn-default btn-flat" })
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("登入", "Login", "Home")</li>
                        }
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class='sidebar-menu'>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class='treeview'><a href=' @Url.Action("Index", "Customer") '><i class='fa fa-th'></i><span>客戶資料</span></a></li>
                        <li class='treeview'><a href=' @Url.Action("Index", "CustomerContact") '><i class='fa fa-th'></i><span>客戶聯絡人資料</span></a></li>
                        <li class='treeview'><a href=' @Url.Action("Index", "CustomerBank") '><i class='fa fa-th'></i><span>客戶銀行資料</span></a></li>
                        <li class='treeview'><a href=' @Url.Action("Report", "Customer") '><i class='fa fa-th'></i><span>客戶統計</span></a></li>
                        <li class='treeview'><a href=' @Url.Action("Logout", "Home") '><i class='fa fa-th'></i><span>登出</span></a></li>
                    }
                    else
                    {
                        <li class='treeview'><a href=' @Url.Action("Login", "Home") '><i class='fa fa-th'></i><span>登入</span></a></li>
                    }
                </ul>
            </section>
        </aside>

        <div class="content-wrapper">

            <section id="Section_Header" class="content-header">
                <h1>
                    <i class="fa fa-fw fa-info-circle"></i>
                    @ViewBag.Title
                </h1>
                <ol class='breadcrumb'>
                    <li><a href='/'><i class='fa fa-th'></i>Home</a></li>
                    @RenderSection("navLink", required: false)
                    @if (!IsSectionDefined("navLink"))
                    {
                        @*<li><a href='#'><i class='fa fa-circle-o active'></i>尚未定義</a></li>*@
                    }
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <p><strong>Copyright &copy; 2012-2017&nbsp;<a href="https://www.primeeagle.net" target="_blank">PrimeEagle Studio</a>.</strong> All rights reserved.</p>
            </div>
            Powered by <a href="http://www.primeeagle.net" target="_blank">PrimeEagle Studio</a>
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
    <script src="/Plugins/Bootstrap/js/bootstrap.min.js"></script>
    <script src="/Plugins/slimScroll/jquery.slimscroll.min.js"></script>

    <!-- AdminLTE App -->
    <script src="/Scripts/app.min.js"></script>
    <script src="/Scripts/main.js"></script>

    <script type="text/javascript">
        $(function () {
            $("li .active").parents("li").addClass("active");
        });

    </script>
    <script src="/Plugins/alertifyjs/alertify.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html> 