@model IEnumerable<MVCHomework_20170703.Models.客戶聯絡人>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "客戶聯絡人資料";
}

@section navLink {
    <li><a href='/Index'><i class='fa fa-circle-o active'></i>@ViewBag.Title</a></li>
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary form-horizontal">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-search"></i>查詢條件</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool margin-l-10" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("Index", "CustomerContact", FormMethod.Post, new { id = "form1" }))
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <div class="label-wrapper">
                                        <label for="CustomerName" class="control-label">客戶名稱</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    @Html.TextBox("CustomerName", null, new { @class = "search-text form-control", placeholder = "客戶名稱" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <div class="label-wrapper">
                                        <label for="CustomerContactName" class="control-label">聯絡人姓名</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    @Html.TextBox("CustomerContactName", null, new { @class = "search-text form-control", placeholder = "聯絡人姓名" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <div class="label-wrapper">
                                        <label for="JobTitle" class="control-label">職稱</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    @Html.TextBox("JobTitle", null, new { @class = "search-text form-control", placeholder = "職稱" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center">
                            <button type="submit" class="btn btn-default"><i class='fa fa-search'></i>查詢</button>
                            <p class="btn btn-success">
                                <a href='@Url.Action("Create")' style="color:white"><i class='fa fa-plus'></i>  新增</a>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">顯示資料</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool margin-l-10" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <div style="width: 100%; overflow: auto;">
                            <table class="table">
                                <tr>
                                    <th nowrap>
                                        <a class="tableSort" href="jobTitle">@Html.DisplayNameFor(model => model.職稱)<span class="sortOrder"></span></a>
                                    </th>
                                    <th nowrap>
                                        <a class="tableSort" href="name">@Html.DisplayNameFor(model => model.姓名)<span class="sortOrder"></span></a>
                                    </th>
                                    <th nowrap>
                                        <a class="tableSort" href="email">@Html.DisplayNameFor(model => model.Email)<span class="sortOrder"></span></a>
                                    </th>
                                    <th nowrap>
                                        <a class="tableSort" href="mobile">@Html.DisplayNameFor(model => model.手機)<span class="sortOrder"></span></a>
                                    </th>
                                    <th nowrap>
                                        <a class="tableSort" href="phone">@Html.DisplayNameFor(model => model.電話)<span class="sortOrder"></span></a>
                                    </th>
                                    <th nowrap>
                                        <a class="tableSort" href="customerName">@Html.DisplayNameFor(model => model.客戶資料.客戶名稱)<span class="sortOrder"></span></a>
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.職稱)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.姓名)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.手機)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.電話)
                                        </td>
                                        <td nowrap>
                                            @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
                                        </td>
                                        <td nowrap>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        @Html.PagedListPager(Model as IPagedList, (p) => Url.Action("Index", new { pageNo = p }))
                    </div>
                </div>
            </div>
        </div> 
    </div>
    @Html.Hidden("Table_Sort", ViewData["SortName"])
    @Html.Hidden("Table_CurrentSortName", ViewData["CurrentSortName"])
    @Html.Hidden("Table_PageNo", ViewData["PageNo"])
</div>

@section scripts
{
    <script src="~/Scripts/pageAndSort.js"></script>
    <script type="text/javascript">
        initPageAndSort("/CustomerContact");
    </script>
}
